#! stdtmpl
#proc pageList(shelf: TableRef[int, TransEntry]): string =
#   result = ""
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>FileHub</title>

        <style>
        </style>
    </head>

    <body>
        <form enctype="multipart/form-data" action="/send" method="POST">
            Send this file: <input name="userfile" type="file" />
            <input type="submit" value="Send File" />
        </form>
        <ul>
            #for id, ent in pairs(shelf):
            <li>
                <a href="/recv?e=$id">
                    <span>$id</span> / <span>$ent.name</span>
                    #if not isNil(ent.tag) and ent.tag.len() > 0:
                    - <span>$ent.tag</span>
                    #end if
                </a>
            </li>
            #end for
        </ul>
    </body>
</html>
#end proc
#
#
#proc pageError(code: int): string =
#   let codeStr = $code
#   let msg = getStatusCode(code)
#   result = ""
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>Error: $codeStr</title>

        <style>
        </style>
    </head>

    <body>
        <h1>Error</h1>
        <p>$codeStr - $msg</p>
    </body>
</html>
#end proc
